@font-face {
  font-family: inter_tight_regular;
  src: url('fonts/InterTight-Regular.woff2');
}


.navbar-dark .navbar-brand {
  color: #fff;
  transition: color 1s 
}

.navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:hover {
  color: #7900eb;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255,255,255,.5);
}

.bg-dark {
    background-color: #000000 !important;
    color: #ffb800;
}

body {
    background-color:#020008;
    background-image: url('images/wall.png');
    background-position: top;
    font-family: inter_tight_regular;
}

a {
    color: #b98ec0;
}

a:hover {
    text-decoration: none;
}

.nav-nodropdown:not(:hover),
.nav-nodropdown:not(:hover) a
	{
	--br-clip: 25px;
	--aug-border-bg: linear-gradient(#330261, #fc65f200);
	--aug-inlay-bg: rgba(0,0,0,.5) !important;
  --aug-border-all: 2px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: -10px;
  font-size:16px; 
 	text-decoration:none;
  color: #b98ec0;
  transition: color 1s 
}
.nav-nodropdown:hover,
.nav-nodropdown:hover a
	  {
	--br-clip: 25px;
	--aug-border-bg: linear-gradient(#7900eb, #fc65f255);
	--aug-inlay-bg: rgba(185, 142, 192, 0) !important;
  --aug-border-all: 2px;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: -10px;
	font-size:16px; 
 	text-decoration:none;
  margin-top: 0px;
  margin-bottom: 0px;
  transition: color .5s 
}


